# El comando por defecto para el botón "Run" en el entorno de desarrollo
run = "npm run start:dev"

# Configuración específica para el despliegue en producción
[deployment]
# El comando para 'construir' tu app en el entorno de producción
build = ["sh", "-c", "cd client && npm install && npm run build && cd ../server && npm install"]
# El comando para 'correr' tu app en producción
run = ["sh", "-c", "cd server && node server.js"]

# Configuración del entorno de desarrollo (paquetes, puertos, etc.)
[env]
# Fuerza a Replit a usar la versión más reciente de Node.js
NIXPKGS_ALLOW_UNFREE = "1"
NODE_VERSION = "20"

[packages]
# Especificamos los paquetes necesarios para el entorno de desarrollo
packages = ["nodejs_20"]
